{
  "printWidth": 120,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 70,
        "useTabs": false,
        "trailingComma": "none",
        "proseWrap": "never"
      }
    },
    {
      "files": "public/locales/**/*.{json,JSON}",
      "options": {
        "tabWidth": 4,
        "useTabs": false
      }
    }
  ]
}
